DirectoryIndex index.php

RewriteEngine On

RewriteRule ^(\.git|\.idea)(/|$) - [F,L]
RewriteRule ^(config|controllers|database|models|python|views)(/|$) - [F,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]
